<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Alpha - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/toplevel.css') }}">
</head>
<body>
    <h1 class="gradient-title">TEAM ALPHA</h1>
    <div class="script-subtitle">experiment</div>
    <button class="btn">Explorar</button>
</body>
</html>
